*{
	margin:0;
	padding: 0;

}
body{
	font-size: 16px;
	line-height:20px;
	background-color: #F7F7F7;
}
header{
	width: 100%;
	height: 45px;
	background-color:#5181b8;

}
header a{
	width: 5%;
	height: 45px;
	margin-left: 30%;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 2em;
	font-family: Georgia;
	float: left;
	text-align: center;
	line-height: 130%;


}
header a:hover{
    background-color: #306096;
}
header p{
   
    height: 50%;
    width: auto;
	color: #FFFFFF;
    margin-top: 0.8%;
	font-size: 1.5em;
	font-family: Georgia;
	float: left;
	margin-left: 7%;


}
h4{
	position: relative;
	left:37%;

}
div{
	width: 40%;
	margin-top: 30px;
	margin-left: 30%;
	height: 700px;
	border:1px solid silver;
	border-radius: 20px;
	background-color: #FFFFFF;
	padding: 1%;
	margin-bottom: 20px;
}

form{
	
	font-size: 1.2em;
}
input{
	border:1px solid silver;
	border-radius: 5px;
	height: 25px;
	padding: 0.6%;
	font-size: 0.8em;
}


select{
	width: 8%;
	height: 32px;
	border-radius: 5px;
	margin-bottom: 3%;
}

#opCity{
	width: 42%;
	height: 32px;
	border-radius: 5px;
	font-size: 0.8em;
}



#code{
	width: 40%;
	margin-bottom: 3%;
}
button{
	height: 30px;
	border-radius: 5px;
}
#sms{
	width: 25%;
	background-color: #5181b8;
	border: none;
	color: #FFFFFF;
	font-size: 0.8em;
}
#sms:hover, #sms:active{
    background-color: #306096;
}

.one{
	width: 40%;
	margin-bottom: 3%;
	

}
p{ 
	height: 50%;
    width: auto;
	color: #5181b8;
    margin-top: 0.8%;
	font-size: 0.9em;
	font-family: Georgia;
	float: left;
	

}

#register{
	width: 40%;
	height: 40px;
	background-color: #5181b8;
	border: none;
	color: #FFFFFF;
	font-size: 0.9em;
	margin-top: 4%;
	position: relative;
	left: 30%;

}
#register:hover{
    background-color: #306096;
}

@media only screen and (max-width: 1000px){
	body{
		font-size: 14px;
	}
	header, header a{
		height: 38px;
	}
	
	div{
		width: 50%;
	
		margin-left: 25%;
	}
	.one{
		margin-bottom:1%;
	}
	div{
		height:620px;
	}
	#register{
		width: 25%;
		height: 32px;

	}

}

@media only screen and (max-width: 766px){
    body{
		font-size: 12px;
	}
	header, header a{
		height: 35px;
	}
	div{
		width: 50%;
	
		margin-left: 25%;
	}
	.one{
		margin-bottom:1%;
	}
	div{
		height:600px;
	}
	#register{
		width: 25%;
		height: 32px;

	}
	

}
@media only screen and (max-width: 500px){
    body{
		font-size: 10px;
	}
	header, header a{
		height: 30px;

	}

	div{
		width: 50%;
	
		margin-left: 25%;
	}
	.one{
		margin-bottom:1%;
	}
	div{
		height:600px;
	}
	#register{
		width: 25%;
		height: 32px;

	}
	
    
	
    
}